* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Bubblegum Sans", cursive;
}

.container {
  padding: 1vh;
  display: flex;
  height: 80vh;
  margin: 2em 0;
  flex-direction: column;
}

.main-title {
  font-size: 10vh;
  margin: 1em;
}

.best-score {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.current-score {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
    font-weight: bold;

}

.colors-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
  position: relative;
}

.color-button {
  width: 47%;
  aspect-ratio: 1 / 1;
  /* cursor: pointer; */
}

#color-button-1 {
  background-color: darkred;
  border-top-left-radius: 100%;
  border: 4px black solid;
}

#color-button-2 {
  background-color: darkgreen;
  border-top-right-radius: 100%;
    border: 4px black solid;

}

#color-button-3 {
  background-color: darkblue;
  border-bottom-left-radius: 100%;
    border: 4px black solid;

}

#color-button-4 {
  background-color: goldenrod;
  border-bottom-right-radius: 100%;
    border: 4px black solid;

}

#color-button-1:active {
  opacity: 0.5;
}
#color-button-2:active {
  opacity: 0.5;
}
#color-button-3:active {
  opacity: 0.5;
}
#color-button-4:active {
  opacity: 0.5;
}

.start-btn {
  background-color: whitesmoke;
  font-size: 2.5em;
  width: 25vh;
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  align-self: center;
  border: solid 4px black;
  line-height: normal;
}

.start-btn:active {
  background-color: rgb(154, 154, 154);
}

.start-btn:disabled {
  color: black;
}

.change-opacity {
  opacity: 0.35;
  transition: 0.2s;
}