@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
}

html {
  /* height: 100%; */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Bubblegum Sans", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 1vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-title {
  font-size: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30%; */
}

.main-title span {
  margin: 0;
  padding: 0;
}

.game-rules {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 10%; */
  font-size: 4vh;
}

.current-score {
  font-size: 1vh;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.colors-container {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 300px;
  min-width: 100px;
  /* align-self: center; */
  position: relative;
  /* margin-bottom: 3vh; */
  /* padding: 3vh; */
}

.color-button {
  aspect-ratio: 1 / 1;
  width: 50%;
  height: unset;
}

#color-button-1 {
  background-color: darkred;
  border-top-left-radius: 100%;
  border: 4px black solid;
}

#color-button-2 {
  background-color: darkgreen;
  border-top-right-radius: 100%;
  border: 4px black solid;
}

#color-button-3 {
  background-color: darkblue;
  border-bottom-left-radius: 100%;
  border: 4px black solid;
}

#color-button-4 {
  background-color: goldenrod;
  border-bottom-right-radius: 100%;
  border: 4px black solid;
}

.start-btn {
  background-color: whitesmoke;
  font-size: calc(12px + 1.5vw);
  /* aspect-ratio: 1 / 1; */
  width: 50%;
  height: 50%;
  position: absolute;
  border-radius: 100%;
  align-self: center;
  border: solid 4px black;
  /* line-height: normal; */
}

.start-btn:disabled {
  color: black;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1vh;
  font-size: 2em;
  margin-left: auto;
  margin-right: 3vw;
  border-radius: 100%;
  line-height: 0;
}

.form-check {
  text-align: left;
  margin-bottom: 1.5vh;
}

.footer {
  display: flex;
  height: unset;
  margin-bottom: 2vh;
}

.best-score {
  margin-left: 1vh;
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  height: unset;
}

.modal {
  height: unset;
}

@media screen and (min-width: 500px) {
  .main-title {
    font-size: max(5vw, 50px);
  }
  .color-button {
    /* width: 35%; */
  }
  .container {
    background-color: white;
    /* max-width: 400px; */
    /* width: 30%; */
    /* margin: auto; */
    /* margin-top: 2%; */
    /* padding: 0 4%; */
  }
  .game-rules {
    /* font-size: 1.5em; */
  }
  .start-btn {
    /* font-size: 2vw; */
    /* width: 30%; */
  }
}
